# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# ==========================
# Environment variables
# ==========================
.env
.env.*
env

# ==========================
# Databases
# ==========================
*.db
*.sqlite3

# ==========================
# Virtual environment
# ==========================
venv/
.venv/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Docker
# ==========================
*.log

# ==========================
# Tests
# ==========================
.coverage
htmlcov/

# ==========================
# Build
# ==========================
dist/
build/